.calculator {
    max-width: fit-content;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #1b1d18;
    border-radius: 12px;
    box-shadow: 2px 4px 12px #1b1d18;
    background-color: #f2f4f3;
}

.display {
    display: flex;
    justify-content:flex-end;
    width: 90%;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #140000;
    border: solid 2px #49111c;
    border-radius: 12px;
    overflow: hidden;
}

#output {
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
    color: #ff0000;
    text-shadow: 5px 1px 5px #ff0000;
    font-size: 1.2em;
}

.buttons {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    width: 100%;
    padding: 20px;
    font-size: 1em;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px; 
    background-color: #333;
    color: #f1f1f1;
    box-shadow: 0 0 5px black;
}

button:hover {
    background-color: #495041;
}

.operator, .equals {
    background-color: #0055a5;
}

.clear {
    background-color: #a00000;
}